/* leave this be */
#landing {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
}

nav.link-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: inline-block;
}
nav.link-list li {
  overflow: hidden;
  float: left;
}
nav.link-list a {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.5s ease;
}
nav.link-list a.is-active {
  background-color: #C8A36C;
}


nav.btns {
  position: absolute;
  top: 45%;
  width: 100%;
}
nav.btns button {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 10px;
  font-family: serif;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: 0;
  transition: all 0.5s ease;
}
nav.btns button:focus {
  outline: 0;
}
nav.btns button:before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  border: 2px solid #C8A36C;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}
nav.btns button span {
  opacity: 0;
  transition: opacity 0.2s ease;
}
nav.btns button:hover {
  background-color: #C8A36C;
  width: 64px;
  height: 64px;
  transform: translateY(-10px);
}
nav.btns button:hover:before {
  opacity: 1;
  width: 104px;
  height: 104px;
  top: -22px;
  left: -22px;
}
nav.btns button:hover span {
  opacity: 1;
}
nav.btns button.show-prev {
  left: 15%;
}
nav.btns button.show-next {
  right: 15%;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: sans-serif;
  color: #ccc;
  font-size: 12px;
  line-height: 12px;
}
footer a {
  color: inherit;
}

.loading-txt {
  text-align: center;
  width: 100%;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.loading-txt.is-hidden {
  display: none;
}

/* =========== Gallery ============= */

    
        .gallery-img
        {
            width: 900px;
            height: 600px;
        }
      

             @media only screen and (max-width: 1056px) {

                    .gallery-img
                        {
                            width: 700px;
                            height: auto;
                        }

                }

                    @media only screen and (max-width: 767px) {

                        .gallery-img
                            {
                                width: 600px;
                                height: auto;
                            }

                    }

                    @media only screen and (max-width: 650px) {

                        .gallery-img
                            {
                                width: 450px;
                                height: auto;
                            }

                    }



            .gallery{
                
                     width: 100%;
          background: url(../images/BHW.png);
            height: auto;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        padding-top: 100px;
         padding-bottom: 100px;
          color:black;
          font-size:20px;
    

        }

.gallery-title{
    
    padding-bottom: 50px;
}


/* =========== Contact Us CSS ============ */


#contact{
    
 
  padding-top: 60px;
  height: auto;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-size: cover;
 padding-bottom: 60px;

}

.contact-title
{
    padding-top: 100px; 
    
}

.form-group
{
    opacity: 0.7;
}

.lead
{
    opacity: 0.5;
}

#description
{
    height: 185px;
}

.contact-section
{
    padding-top: 20px;
}

#social-item
{
    padding-top: 100px;
}



/* no edits below this line please */
html {
	box-sizing: border-box;
	font-family: sans-serif;
}

*, *:after, *:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
}

.event-section {
	height: 100%;
	width: 100%;
	/* background: linear-gradient(
		rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.9)
	), url('./vit2.jpg') no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* this is to position child using absolute
	** relative is same as static unless you
	** play with top, bottom, left or right
	*/
	/* position: relative; */

	display: flex;
	flex-direction: column;
}

.event-head {
	flex: 0 0 auto;
	padding: 20px;
	color: red;
}

.event-head > p {
	font-size: 2em;
}

.event-container {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	width: 100%;
}

.event-content {
	flex: 2 0 0;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content-text {
	margin: 15px;
	text-align: justify;
	font-size: 1.4em;
}

.event-images {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
	justify-content: space-around;
}

.images-image {
	flex: 0 1 auto;
	padding: 20%;
}

#event1, #event3 {
	background: url('../images/BHW.png') no-repeat center center fixed;
}

.event-rev {
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(128, 0, 255, 0.6)
	), url('../images/BHW2.png') no-repeat center center fixed;
}

.event-rev > .event-head > p {
	text-align: right;
	color: white;
}

.event-rev .event-container {
	flex-direction: row-reverse;
}

.event-rev .content-text {
	color: white;
}








@media all and (orientation: portrait) {
	.event-container {
		flex-direction: column;
	}

	.event-images {
		flex-direction: row;
	}

	.content-text {
		font-size: 0.8em;
	}

	.event-rev > .event-container {
		flex-direction: column;
	}
}