/* leave this be */
#landing {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
}

nav.link-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: inline-block;
}
nav.link-list li {
  overflow: hidden;
  float: left;
}
nav.link-list a {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.5s ease;
}
nav.link-list a.is-active {
  background-color: #C8A36C;
}


nav.btns {
  position: absolute;
  top: 45%;
  width: 100%;
}
nav.btns button {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 10px;
  font-family: serif;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: 0;
  transition: all 0.5s ease;
}
nav.btns button:focus {
  outline: 0;
}
nav.btns button:before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  border: 2px solid #C8A36C;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}
nav.btns button span {
  opacity: 0;
  transition: opacity 0.2s ease;
}
nav.btns button:hover {
  background-color: #C8A36C;
  width: 64px;
  height: 64px;
  transform: translateY(-10px);
}
nav.btns button:hover:before {
  opacity: 1;
  width: 104px;
  height: 104px;
  top: -22px;
  left: -22px;
}
nav.btns button:hover span {
  opacity: 1;
}
nav.btns button.show-prev {
  left: 15%;
}
nav.btns button.show-next {
  right: 15%;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: sans-serif;
  color: #ccc;
  font-size: 12px;
  line-height: 12px;
}
footer a {
  color: inherit;
}

.loading-txt {
  text-align: center;
  width: 100%;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.loading-txt.is-hidden {
  display: none;
}

/* ========== Event 1 and 3 =============== */
.events3{
  padding-top: 20px;
  border-bottom: 2px solid red;
}

.events{
  border-bottom: 2px solid red;
}


h1,
h2,
h3{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.section-title {
  font-size: 32px;
  color: red;
  text-align: left;
  font-weight: 700;
}


#event1 {
  width: 100%;
  height: 100vh;
  background: url(../images/BHW.png);
  background-repeat: no-repeat;
  background-size: cover;

}


.col-md-push-6{
  width: 65%;
  font-size: 150%;
}
#event1-img{
  margin-right: 5%;
  width:20%;
  float:right;
} 

#event1-img2{
  margin-top:25%;
  margin-right:9%;
  position: absolute;
  right: 0px;
  width: 20%;
  padding: 10px;
}


.e3h{
  font-size: 32px;
  color: red;
  text-align: left;
  margin-left:8mm;
  font-weight: 700;
  padding-bottom: 10px;
}

#event3 {
  width: 100%;
  height: 100vh;
  background: url(../images/BHW2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0;
}

#event3-img{
  margin-right: 5%;
  width:20%;
  float:right;
  margin-top: 11%;
}


#event3-img2{
  margin-top:25%;
  margin-right:9%;
  position: absolute;
  right: 0px;
  width: 20%;
  padding: 10px;
}

.event3-p{
  color:black;
}






/* =========== Contact Us CSS ============ */


#contact{
    
 
  padding-top: 60px;
  height: auto;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-size: cover;
 padding-bottom: 60px;

}

.contact-title
{
    padding-top: 100px; 
    
}

.form-group
{
    opacity: 0.7;
}

.lead
{
    opacity: 0.5;
}

#description
{
    height: 185px;
}

.contact-section
{
    padding-top: 20px;
}

#social-item
{
    padding-top: 100px;
}

